$primary-color: #e92012;
$secondary-color: #ce1104;
$item-color: #e0e0e0;

$font-main: 'Roboto', sans-serif;
$font-weight: 600;

$border-radius: 8px;
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;